# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Faks\CS102_Projekat_BojanPetrovic2745\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
